<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medicalhealth.healthapplication"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthApplication"
        tools:targetApi="31">
        <activity
            android:name=".view.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".view.scheduleScreen.ScheduleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="false" />
        <activity
            android:name=".view.settingScreen.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.passwordManagerScreen.PasswordManagerActivity"
            android:exported="false" />

        <activity
            android:name=".view.notificationSetting.NotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.notificationScreen.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".view.profileScreen.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.SetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.doctorScreen.DoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.loginScreen.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.WelcomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.homeScreen.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>